.banner {
  text-align: center;
  padding-top: 3em;
  margin: 0 0 3em 0;

  #{&}__logo {
    display: inline-block;
    width: 64px;
    height: 71px;
    text-decoration: none;
    border-bottom: none;
    background: #512e2c;
    background: linear-gradient(to bottom, #512e2c, #92918f);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    margin: 0 0 1em 0;
  }

  h2 {
    font-size: 2em;
  }

  p {
    text-transform: uppercase;
    font-size: 0.7em;
    line-height: 2.5;
    letter-spacing: 0.25em;
  }
}
