@import '~react-tagsinput/react-tagsinput.css';

.dropzone {
  background: #efefef;
  width: 900px;
  height: 300px;
  margin: 0 auto;
  font-size: 1.25em;
  box-shadow: inset 0px 0px 0px 16px #efefef, inset 0px 0px 0px 20px #cfcfcf;

  input[type='file'] {
    display: none;
  }
}
