.minisearch {
  display: flex;
  border-left: solid 1px rgba(160, 160, 160, 0.3);
  border-right: solid 1px rgba(160, 160, 160, 0.3);
  height: inherit;
  line-height: inherit;
  white-space: nowrap;

  a {
    text-decoration: none;
    line-height: inherit;
    height: inherit;
    width: 4em;
    text-align: center;
    color: #aaaaaa;
    border-bottom: 0;
  }

  input {
    display: inline-block;
    height: 2.5em;
    position: relative;
    top: -2px;
    vertical-align: middle;
    border-color: #2ebaae;
    box-shadow: inset 0 0 0 1px #2ebaae;
    padding: 0 16px;
  }

  #{&}__form {
    transition: all 0.5s ease;
    max-width: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;

    input {
      width: 12em;
    }
  }
}
.minisearch--visible .minisearch__form {
  max-width: 12.5em;
  opacity: 1;
  padding: 0 0.5em 0 0;
}
